{% extends 'layout.html' %} {% block body %}

    <div class="wrapper">
        {% include 'sidebar.html' %}

        <div class="main-panel">
{% include 'navbar.html' %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-chart text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Account Balance</p>
                                                <h4 class="card-title">Ksh. {{ session["valo"][0] | numberFormat }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-light-3 text-success"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Account In</p>
                                                <h4 class="card-title">Ksh. {{ session["valo"][1]| numberFormat }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-calendar-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-vector text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Account Out</p>
                                                <h4 class="card-title">Ksh. {{ session["valo"][2] | numberFormat }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc-badge text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Transactions</p>
                                                <h4 class="card-title">{{ session["valo"][3] }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">

                                <h4 class="card-title">
                                    <small>Transaction Distribution</small>
                                </h4>
                                <div class="row margin-top">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div id="chartPreferences" class="ct-chart "></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h6>Legend</h6>
                                        <i class="fa fa-circle text-info"></i> Mpesa
                                        <i class="fa fa-circle text-danger"></i> Cash
                                        <i class="fa fa-circle text-warning"></i> Bank

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card ">
                                <h4 class="card-title">Monthly Statistics <br>
                                    <small></small>
                                </h4>
                                <div class="card-body">
                                    <div id="chartActivityx" class="ct-chart "></div>
                                </div>
                                <h6>Legend</h6>
                                <i class="fa fa-circle text-info"></i> Account In
                                <i class="fa fa-circle text-danger"></i> Account Out
                            </div>
                        </div>
                    </div>
                    <div class="row">


                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        <!-- javascript -->
        Chartist.Pie('#chartPreferences', {

            series: {{  session["compp"] | safe}}
        });</script>
    <script>
        <!-- javascript -->
        var data = {
            labels: ['Jan'],
            series: [
                [54200],
                [41200]
            ]
        };

        var options = {
            seriesBarDistance: 10,
            axisX: {
                showGrid: false
            }
        };

        var responsiveOptions = [
            ['screen and (max-width: 640px)', {
                seriesBarDistance: 5,
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value[0];
                    }
                }
            }]
        ];

        Chartist.Bar('#chartActivityx', data, options, responsiveOptions);
    </script>
{% endblock %}
