<div class="sidebar" data-color="blue" data-image="static/assets/img/ok.jpg">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                RG
            </a>
            <a href="#" class="simple-text logo-normal">
                Rapha Gardens
            </a>
        </div>

        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/transactions">
                    <i class="nc-icon nc-badge"></i>
                    <p>Transactions</p>
                </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#pagesExamples" aria-expanded="true">
                    <i class="nc-icon nc-bank"></i>
                    <p>
                        FEES
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse show" id="pagesExamples" style="">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/fees">
                                <span class="sidebar-mini">AT</span>
                                <span class="sidebar-normal">Add fee Transaction</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/setfees">
                                <span class="sidebar-mini">ST</span>
                                <span class="sidebar-normal">Set Term Fees</span>
                            </a>
                        </li>
                        <!--li class="nav-item ">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini">VB</span>
                                <span class="sidebar-normal">View Balances</span>
                            </a>
                        </li-->
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/students">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>students</p>
                </a>
            </li>
            <!--li class="nav-item ">
                <a class="nav-link" href="/calendar">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Calendar</p>
                </a>
            </li-->

            <!--li class="nav-item ">
                <a class="nav-link" href="/reports">
                    <i class="nc-icon nc-single-copy-04"></i>
                    <p>Reports</p>
                </a>
            </li-->
        </ul>
    </div>
</div>