 <div class="sidebar" data-color="orange" data-image="../assets/img/sidebar-5.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">

                    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
                        Green Field Academy
                    </a>
                </div>

                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="./dashboard.html">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./dashboard.html">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Registration</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./dashboard.html">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Exams</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./dashboard.html">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Fees</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./dashboard.html">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Inventory</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>