<div class="sidebar" data-color="purple" data-image="static/assets/img/ok.jpg">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                RG
            </a>
            <a href="#" class="simple-text logo-normal">
                Rapha Gardens
            </a>
        </div>

        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/transactions">
                    <i class="nc-icon nc-badge"></i>
                    <p>Transactions</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/fees">
                    <i class="nc-icon nc-bank"></i>
                    <p>Fees</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/calendar">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Calendar</p>
                </a>
            </li>
            <!--li class="nav-item ">
                <a class="nav-link" href="/reports">
                    <i class="nc-icon nc-single-copy-04"></i>
                    <p>Reports</p>
                </a>
            </li-->
        </ul>
    </div>
</div>